#root{
 font-family: "Poppins", sans-serif;
  font-weight: 200;
 font-style: normal;
}

.logoPrincipal{
  width:6em;
}


h5{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
 font-style: normal;
 color:#08a4d8;
}
h1{
    color: #0979b0;
}
p{
    font-size: 20px;
}

Button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  Button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  Button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  Button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
.seccionServicios{
  border-radius: 5%;
  background-color: #61c4f6;
}